{% load active_link_tags %}
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="{% url 'index' %}">FACITE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item {% active_link 'create-list' 'active' %}">
                <a href="{% url 'create-list' %}" class="nav-link">Create List</a>
            </li>
            <li class="nav-item">
                <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
                Logout
                </a>
                <form action="{% url 'logout' %}" method="POST" id="logout">
                {% csrf_token %}
                <input type="hidden"/>
                </form>
            </li>
            {% else %}  
            <li class="nav-item {% active_link 'login' 'active' %}">
                <a href="{% url 'login' %}" class="nav-link">Login</a>
            </li>
            <li class="nav-item {% active_link 'create-account' 'active' %}">
                <a href="{% url 'create-account' %}" class="nav-link">Create an Account</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>